@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);

  --gray-1: hsl(0, 0%, 99%);
  --gray-2: hsl(0, 0%, 98%);
  --gray-3: hsl(0, 0%, 94%);
  --gray-4: hsl(0, 0%, 91%);
  --gray-5: hsl(0, 0%, 88%);
  --gray-6: hsl(0, 0%, 85%);
  --gray-7: hsl(0, 0%, 81%);
  --gray-8: hsl(0, 0%, 73%);
  --gray-9: hsl(0, 0%, 55%);
  --gray-10: hsl(0, 0%, 51%);
  --gray-11: hsl(0, 0%, 39%);
  --gray-12: hsl(0, 0%, 13%);

  --border: hsla(0, 0%, 13%, 0.1);
  --border-secondary: hsla(0, 0%, 13%, 0.06);

  --accent: #007aff;

  --shadow-flat: 0px 1px 0px 1px rgba(255, 255, 255, 0.03) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
  --shadow-raised: 0px 0px 0px 1px rgba(0, 0, 0, 0.06),
    0px 1px 1px -0.5px rgba(0, 0, 0, 0.06),
    0px 3px 3px -1.5px rgba(0, 0, 0, 0.06), 0px 6px 6px -3px rgba(0, 0, 0, 0.06),
    0px 12px 12px -6px rgba(0, 0, 0, 0.06),
    0px 24px 24px -12px rgba(0, 0, 0, 0.06);
  --shadow-floating: 0px 0px 0px 1px rgba(0, 0, 0, 0.06),
    0px 103px 29px 0px rgba(0, 0, 0, 0), 0px 66px 26px 0px rgba(0, 0, 0, 0.01),
    0px 37px 22px 0px rgba(0, 0, 0, 0.05), 0px 16px 16px 0px rgba(0, 0, 0, 0.09),
    0px 4px 9px 0px rgba(0, 0, 0, 0.1);
}

.dark {
  --background: hsl(0, 0%, 4%);

  --gray-1: hsl(0, 0%, 6%);
  --gray-2: hsl(0, 0%, 10%);
  --gray-3: hsl(0, 0%, 13%);
  --gray-4: hsl(0, 0%, 16%);
  --gray-5: hsl(0, 0%, 19%);
  --gray-6: hsl(0, 0%, 23%);
  --gray-7: hsl(0, 0%, 28%);
  --gray-8: hsl(0, 0%, 38%);
  --gray-9: hsl(0, 0%, 43%);
  --gray-10: hsl(0, 0%, 48%);
  --gray-11: hsl(0, 0%, 71%);
  --gray-12: hsl(0, 0%, 93%);

  --border: hsla(0, 0%, 93%, 0.1);
  --border-secondary: hsla(0, 0%, 93%, 0.06);

  --shadow-flat: 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  --shadow-raised: 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.1),
    0px 4px 4px 0px rgba(0, 0, 0, 0.1), 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-floating: 0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset,
    0px 103px 29px 0px rgba(0, 0, 0, 0), 0px 66px 26px 0px rgba(0, 0, 0, 0.04),
    0px 37px 22px 0px rgba(0, 0, 0, 0.13), 0px 16px 16px 0px rgba(0, 0, 0, 0.21),
    0px 4px 9px 0px rgba(0, 0, 0, 0.25);
}

@layer base {
  body {
    overscroll-behavior-y: none;
    color: var(--foreground);
    background: var(--background);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    min-width: 0;
  }

  *,
  ::before,
  ::after {
    @apply border-primary;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  /* Basic Typography */
  h1:not(.prose h1) {
    @apply text-3xl leading-[1.2em] tracking-tight;
  }

  h2:not(.prose h2) {
    @apply text-2xl leading-[1.2em] tracking-tight;
  }

  h3:not(.prose h3) {
    @apply text-xl leading-[1.2em] tracking-tight;
  }

  h4:not(.prose h4) {
    @apply text-lg leading-[1.2em] font-medium tracking-tight;
  }

  p:not(.prose p) {
    @apply text-base leading-5 tracking-normal;
  }

  small:not(.prose small) {
    @apply text-sm leading-5 tracking-normal;
  }

  strong {
    @apply font-medium;
  }
}
